body {
  font-family: 'Arial', sans-serif;
  background-color: #f1f1f1;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#password-generator {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#password-generator h2 {
  font-size: 2em;
  color: #4CAF50;
  margin-bottom: 20px;
}

#password-generator input,
#password-generator button {
  padding: 12px;
  font-size: 1.2em;
  margin: 10px;
  border-radius: 8px;
  border: 2px solid #ddd;
}

#password-generator button {
  background-color: #5cb85c;
  color: white;
  cursor: pointer;
}

#password-generator input {
  width: 80%;
  margin-bottom: 20px;
}
