body {
    font-family: 'Arial', sans-serif;
    background-color: #f1f1f1;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#weather-info {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#weather-info img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

#weather-info h2 {
    color: #4CAF50;
    font-size: 2em;
}

#weather-info p {
    font-size: 1.2em;
    margin: 10px 0;
}

#forecast {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

#forecast div {
    background-color: #e7e7e7;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 120px;
    text-align: center;
}

#forecast div img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

#forecast div p {
    margin: 5px 0;
    font-size: 1em;
}

