
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-size: cover; 
    background-attachment: fixed; /* CON ESTO LO FIO */
    background-position: center center; 
    background-repeat: no-repeat; 
    animation: cambioFondo 12s infinite;
    color: white;
}

/* CON ESTO SE DEBERÍAN CAMBIAR LAS IMÁGENES */
@keyframes cambioFondo {
    0% { background-image: url('../img/fondo1.jpg'); }
    25% { background-image: url('../img/fondo2.jpg'); }
    50% { background-image: url('../img/fondo3.jpg'); }
    75% { background-image: url('../img/fondo4.jpg'); }
    100% { background-image: url('../img/fondo1.jpg'); }
}


.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 20px; 
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto; 
}


.ejercicio {
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.ejercicio h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}


.reloj {
    font-size: 36px;
    text-align: center;
    color: #fff;
}


.mensaje {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}


.fecha {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}


.contrasena-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contrasena-btn {
    width: 100%;
    padding: 10px;
    background-color: #7B68EE; 
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contrasena-btn:hover {
    background-color: #9370DB; 
}

.contrasena-output {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: #fff;
}


.links-input {
    display: flex;
    align-items: flex-start; 
    padding: 10px;
    height: 100%; 
    border: 1px solid #ccc;
}

.links-btn {
    width: 100%;
    padding: 10px;
    background-color: #FF69B4; 
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.links-btn:hover {
    background-color: #FFB6C1; 
}

.links-list {
    list-style-type: none;
    padding: 0;
}

.links-list li {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 5px 0;
    border-radius: 5px;
    color: white;
}


#climaActual, #previsionClima {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5); 
}

#climaActual h2 {
    font-size: 24px;
    font-weight: bold;
}


.datos-actuales {
    display: flex;
    align-items: center;
}

.grados-actuales {
    margin-right: 20px;
}

.icono-clima {
    width: 50px;
    height: 50px;
}

/* Lista de datos como precipitaciones, viento, humedad */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

/* Estilo de la previsión por horas */
#previsionClima li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    overflow-x: auto;/* INTENTO DE PONERLO EN HORIZONTAL */
}

#previsionClima img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
